<h2>Login</h2>

<form method="post">
    <input type="text" placeholder="Email" /> <br><br>
    <input type="password" placeholder="Password" /> <br><br>
    <button type="submit">Login</button>
</form>