<h2>Request Aid</h2>

<form method="post">
    <input name="Title" placeholder="Title" class="form-control mb-2" />
    <textarea name="Description" placeholder="Description" class="form-control mb-2"></textarea>
    <input name="Location" placeholder="Location" class="form-control mb-2" />

    <button class="btn btn-primary">Submit Request</button>
</form>
