<h2>User Dashboard</h2>

<p>Welcome @Context.Session.GetString("Username") </p>

<ul>
    <li>
        <a href="/AidRequest/MyRequests">View Aid Requests</a>
    </li>

    <li>
        <a href="/AidRequest/Create">Request Help</a>
    </li>

    <li>
        <a href="/AidRequest/MyRequests">My Requests</a>
    </li>
</ul>