<h2>Admin Dashboard</h2>

<p>Welcome Admin </p>

<ul>
    <li>
        <a asp-controller="Admin" asp-action="ManageRequests">
            Manage Aid Requests
        </a>
    </li>
    <li>
        <a asp-controller="Admin" asp-action="ManageUsers">
            Manage Users
        </a>
    </li>
</ul>