@model List<NGOSystem.Models.User>

<h2>Manage Users</h2>

<table class="table">
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
    </tr>

    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Username</td>
            <td>@user.Email</td>
            <td>@user.Role</td>
        </tr>
    }
</table>